<div class="card col-12 col-md-5 mx-auto mb-3">
  <div class="card-header">
    <h4 class="text-center">Create A New Cellphone Entry</h4>
  </div>
  <div class="card-body">
    <%= render 'form', cellphone: @cellphone %>
  </div>
  <div class="card-footer d-flex justify-content-center">
    <%= link_to 'Back', cellphones_path, class:"btn btn-secondary py-0 px-5" %>
  </div>
</div>
