<div class="card col-12 col-md-5 mx-auto mb-3">
  <div class="card-header">
    <h4 class="text-center">Editing <%= @television.brandname%> </h4>
  </div>
  <div class="card-body">
    <%= render 'form', television: @television %>
  </div>
  <div class="card-footer d-flex justify-content-around">
    <%= link_to 'Show', @television, class:"btn btn-success py-0 px-5" %> |
    <%= link_to 'Back', televisions_path, class:"btn btn-secondary py-0 px-5" %>
  </div>
</div>


